.jumbotron {
  background-color: teal;
  border: 3px white dotted;
}
.container-jumbo {
  background-color: black;
}

#past-shows-title {
  color: royalblue;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.lead {
  color: thistle;

  text-align: center;
}

.showdate {
  color: yellow;
  text-align: right;
  margin-right: 10px;
}

#perry {
  height: 120px;
  width: 80px;
  margin-left: 280px;
  margin-bottom: 10px;
}

#perry-info {
  color: thistle;
  margin-left: 15px;
}

.atap-card {
  margin-top: 10px;
}

.captions {
  text-align: center;
  font-size: 20px;
  color: teal;
}

.card {
  background-color: black;
  width: 80%;
  height: 80%;
}

img {
  object-fit: cover;
}
